*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.journal-policy-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  padding-top: 50px;
}

.journal-policy-search h1 {
  margin-bottom: 1em;
  color: #501315;
  font-size: 2em !important;
}

.policies {
  width: 100%;
  max-width: 700px;
}

.dt-search {
  margin-bottom: 2em;
}

#dt-search-0 {
  width: 100%;
  height: 3em;
  padding-left: 1em;
  border-radius: 2em;
  border: 1px solid gray;
  font-size: 1em;
}

#policies__table {
  width: 100%;
  border-spacing: 0;
}

#policies__table thead {
  display: none;
}

.policies__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  row-gap: 0.5em;
  border: 1px solid gray;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 2em;
  color: black;
}

.card__title,
.card__title a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #501315;
}

.card__field {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.card__policy a {
  color: black;
  text-decoration: none;
}

.card__policy ul {
  margin-left: 1.5em;
}

.fg-buttonset {
  display: flex;
  justify-content: center;
}

.fg-buttonset nav {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.fg-button {
  height: 2em;
  width: 2em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0;
}
